<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>Django Seminar - Tutorial Project</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="well">
 
    <h4>Leave a comment</h4>
 
    <form method="post" class="clearfix">
        {% csrf_token %} 
        <div class="col-md-6 form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
 
        <div class="col-md-12 form-group">
            <label class="sr-only" for="email">Comment</label>
            <textarea class="form-control" name="comment" placeholder="Comment"></textarea>
        </div>
 
        <div class="col-md-12 form-group text-right">
            <input type="submit" class="btn btn-primary" formaction="../add" value="Submit"></button>
        </div>
 
    </form>
</div>
</div>

</body>
</html>
